pre>code.language-shell-session {
  font-family: monospace;
  padding: 1em;
  border-radius: 4px;
}

.token.folder {
  color: #9fef00;
}

.token.command {
  color: #a4b1cd;
}

.token.shell-symbol {
  color: #ff8484;
  font-weight: 700;
}

.token.output {
  color: #a4b1cd;
}