pre>code.language-shell-session {
  font-family: monospace;
  padding: 1em;
  border-radius: 4px;
}

.token.success {
  color: #9fef00;
}

.token.text {
  color: #a4b1cd;
}

.token.shell-symbol {
  color: #ff8484;
  font-weight: 700;
}

.token.high {
  color: #FF5D5D;
}

.token.jobs {
  color: #B57C00
}

.token.agents {
  color: #00D49C
}