pre>code {
  font-family: monospace;
  padding: 1em;
  border-radius: 4px;
}

.token.text {
  color: #CCCCCC;
}

.token.special {
  color: #a4b1cd;
}

.token.shell-symbol {
  color: #ff8484;
  font-weight: 700;
}

.token.high {
  color: #FF5D5D;
}

.token.jobs {
  color: #B57C00
}

.token.agents {
  color: #00D49C
}

.token.info {
  color: #2C9BFF;
}

.token.warning {
  color: #FFAF00;
}

.token.success {
  color: #9fef00;
}